<button class="btn-item" onclick="openFile({name: '<%= file.name %>', size: '<%= file.size %>', uploadedAt: '<%= file.uploadedAt%>', url: '<%= file.url %>', id: `<%= file.id %>`})">
<article class='file'>
  <%= file.name %> 
</article>
</button>

