<section class="folders">
  <%- include("./folder", {name: "folder", id: "1"}) %>
  <%- include("./folder", {name: "folder", id: "2"}) %>
  <%- include("./folder", {name: "very long folder name, extra, extra, extra", id: "3"}) %>
  <%- include("./folder", {name: "folder", id: "4"}) %>
  <%- include("./folder", {name: "folder", id: "5"}) %>
  <%- include("./folder", {name: "folder", id: "6"}) %>
  <%- include("./folder", {name: "folder", id: "7"}) %>
  <%- include("./folder", {name: "folder", id: "8"}) %>
  <%- include("./folder", {name: "folder", id: "9"}) %>
  <%- include("./folder", {name: "folder", id: "10"}) %>
  <%- include("./folder", {name: "folder", id: "11"}) %>
</section>

