<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= props.title %></title>
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/notification.css">
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="/navigation.css">
  <link rel="stylesheet" href="/folder.css">
</head>
<body>
  <%- include("partials/notification", {success: props.successMsg, error: props.errorMsg}) %>
  <div class="wrapper">
    <%- include("partials/header", {title: "Folders"}) %>
    <main class="content-wrapper"> 
      <%- include("partials/folders") %>
      <%- include("partials/navigation") %>
    </main>
  </div>
</body>
</html>
